
#include "afxres.h"
#include "simvarids.h"

STRINGTABLE 
BEGIN
    IDS_SIMVAR_ALPHA        "Angle of attack"
    IDS_SIMVAR_BETA         "Sideslip angle"
    IDS_SIMVAR_BETADOT      "Beta dot"
    IDS_SIMVAR_TAS          "True airspeed"
    IDS_SIMVAR_MACH         "Mach number"
    IDS_SIMVAR_VSPEED       "Vertical speed"
    IDS_SIMVAR_GRORCE       "G-load"
    IDS_SIMVAR_WEIGHT       "Current weight"
    IDS_SIMVAR_DYNPRESSURE  "Dynamic pressure"
    IDS_SIMVAR_IAS          "Indicated airspeed"
    IDS_SIMVAR_LAT          "Latitude of aircraft"
    IDS_SIMVAR_LON          "Longitude of aircraft"
    IDS_SIMVAR_ALT          "Altitude of aircraft"
    IDS_SIMVAR_PITCH        "Pitch"
    IDS_SIMVAR_BANK         "Bank"
    IDS_SIMVAR_HTRUE        "True heading"
    IDS_SIMVAR_HMAG         "Magnetic heading"
    IDS_SIMVAR_MAGVAR       "Magnetic variation"
    IDS_SIMVAR_HEIGHT       "Altitude above the surface"
    IDS_SIMVAR_GSPEED       "Ground speed"
    IDS_SIMVAR_CGLON        "Longitudinal CG position"
    IDS_SIMVAR_CGLAT        "Lateral CG position"
    IDS_SIMVAR_VBX          "True lateral speed, relative to aircraft axis (X)"
    IDS_SIMVAR_VBY          "True vertical speed, relative to aircraft axis (Y)"
    IDS_SIMVAR_VBZ          "True longitudinal speed, relative to aircraft axis (Z)"
    IDS_SIMVAR_VWX          "Speed relative to earth, in East/West direction"
    IDS_SIMVAR_VWY          "Speed relative to earth, in vertical direction"
    IDS_SIMVAR_VWZ          "Speed relative to earth, in North/South direction "
    IDS_SIMVAR_AWX          "Acceleration relative to earth, in east/west direction"
    IDS_SIMVAR_AWY          "Acceleration relative to Earth, in vertical direction"
    IDS_SIMVAR_AWZ          "Acceleration relative to earth, in north/south direction"
    IDS_SIMVAR_ABX          "Acceleration relative to aircraft axis, in east/west direction (X)"
    IDS_SIMVAR_ABY          "Acceleration relative to aircraft axis, in vertical direction (Y)"
    IDS_SIMVAR_ABZ          "Acceleration relative to aircraft axis, in north/south direction (Z)"
    IDS_SIMVAR_RBX          "Rotation relative to aircraft axis X"
    IDS_SIMVAR_RBY          "Rotation relative to aircraft axis Y"
    IDS_SIMVAR_RBZ          "Rotation relative to aircraft axis Z"
    IDS_SIMVAR_WINDX        "Lateral speed relative to wind (X)"
    IDS_SIMVAR_WINDY        "Vertical speed relative to wind (Y)"
    IDS_SIMVAR_WINDZ        "Longitudinal speed relative to wind (Z)"
    IDS_SIMVAR_AMBDENS      "Ambient density"
    IDS_SIMVAR_AMBTEMP      "Ambient temperature"
    IDS_SIMVAR_STDTEMP      "Outside temperature on the standard ATM scale"
    IDS_SIMVAR_TAT          "Total air temperature"
    IDS_SIMVAR_AWVEL        "Wind velocity"
    IDS_SIMVAR_AWDIR        "Wind direction (true)"
    IDS_SIMVAR_AWINDX       "Wind component in East/West direction"
    IDS_SIMVAR_AWINDY       "Wind component in vertical direction"
    IDS_SIMVAR_AWINDZ       "Wind component in North/South direction"
    IDS_SIMVAR_ACWINDX      "Wind component in aircraft lateral axis (X)"
    IDS_SIMVAR_ACWINDY      "Wind component in aircraft vertical axis (Y)"
    IDS_SIMVAR_ACWINDZ      "Wind component in aircraft longitudinal axis (Z)"
    IDS_SIMVAR_AMBPRESS     "Ambient pressure"
    IDS_SIMVAR_BAROPRESS    "Barometric pressure on the standard ATM scale"
    IDS_SIMVAR_SLPRESS      "Barometric pressure at sea level"
    IDS_SIMVAR_AMBVIS       "Ambient visibility"
    IDS_SIMVAR_RRM          "Engine RPM"
    IDS_SIMVAR_LEVER        "Percent of max throttle position"
    IDS_SIMVAR_EGT          "Engine exhaust gas temperature"
    IDS_SIMVAR_OILPRESS     "Engine oil pressure"
    IDS_SIMVAR_OILTEMP      "Engine oil temperature"
    IDS_SIMVAR_FUEL         "Engine fuel pressure"
    IDS_SIMVAR_TIME         "Total engine elapsed time"
    IDS_SIMVAR_N1           "Turbine engine N1"
    IDS_SIMVAR_N2           "Turbine engine N2"
    IDS_SIMVAR_CORRN1       "Turbine engine corrected N1"
    IDS_SIMVAR_CORRN2       "Turbine engine corrected N2"
    IDS_SIMVAR_CORRFF       "Corrected fuel flow"
    IDS_SIMVAR_TORQUE       "Engine torque"
    IDS_SIMVAR_EPR          "Engine EPR"
    IDS_SIMVAR_ITT          "Engine ITT"
    IDS_SIMVAR_THRUST       "Engine jet thrust"
    IDS_SIMVAR_BLEED        "Bleed air pressure"
    IDS_SIMVAR_FF           "Engine fuel flow"
    IDS_SIMVAR_VIB          "Engine vibration value"
    IDS_SIMVAR_REVERS       "Percent thrust reverser nozzles deployed"
    IDS_SIMVAR_EDEF         "Elevator angle deflection"
    IDS_SIMVAR_EPCT         "Elevator percent deflection"
    IDS_SIMVAR_ADEF         "Aileron angle deflection"
    IDS_SIMVAR_APCT         "Aileron percent deflection"
    IDS_SIMVAR_RDEF         "Rudder angle deflection"
    IDS_SIMVAR_RPCT         "Rudder percent deflection"
    IDS_SIMVAR_ETRIM        "Elevator trim percent deflection"
    IDS_SIMVAR_ATRIM        "Aileron trim percent deflection"
    IDS_SIMVAR_RTRIM        "Rudder trim percent deflection"
    IDS_SIMVAR_PROPRPM      "Propeller RPM"
    IDS_SIMVAR_PROPBETA     "Prop blade pitch angle"
    IDS_SIMVAR_PROPTHRUST   "Propeller thrust"
    IDS_SIMVAR_PPRPMPCT     "Percent of max rated propeller RPM"
END


